.btn{
    background-color: blue;
    color: white;
    font-weight: bold;
    margin-left: 80%;
    border: none;

    

   
}



.head1{
    background-color: blue;
    color: white;
    font-weight: bold;
    
}

.head2{
   font-weight: bold;
   margin-left: 100px;
   font-size: 50px;
   font-family: Arial, Helvetica, sans-serif;
}

.blog{
    background-color: blue;
    margin-left: 35%;
    font-weight: bold;

    
}
