.header{
    color: white;
    background-color: #0000ff;
    font-weight: bold;
    text-align: center;


}

.loghead{
    color: white;
    text-align: right;
    margin-right: 30px;
    margin-top: -20px;
    font-weight: bold;
}

.head1{
    font-style: normal;
    font-weight: bold;
    margin-left: 100px;
    font-size: 50px;
}

.form{
   
    text-align: center;
    margin: auto;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    

}

.container {
   
    background-color: #fff;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: auto;
}

.eml {
    border: dashed;
    border-color: skyblue;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: gray;
    
    
}

.psw {
   
    border: dashed ;
    border-color: skyblue;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: gray;
    
}
.signupbtn {
    padding: 5px 30px;
    background-color: purple;
    color: white;
    font-size: 15px;
    border: none;
    /* border-radius: 15px; */
    cursor: pointer;
    /* box-shadow: 0px 4px 4px 5px #D4D3D3; */
    transition: background-color 0.3s ease;
    margin-top: 10px;
    
}